<ion-view>
  <!-- <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      <button class="button button-icon icon ion-fork" ui-sref="base.home.food" nav-direction="{{ foodRoute }}"></button>
      <button class="button button-icon icon ion-ios-briefcase" ui-sref="base.home.business" nav-direction="{{ businessRoute }}"></button>
      <button class="button button-icon icon ion-arrow-graph-up-right" nav-direction="forward" nav-direction="{{ exploreRoute }}"></button>
    </ion-nav-buttons>
  </ion-nav-bar> -->
  <ion-content scroll="false">
     <div class="business-title">
          <div style="text-align: center" class="">
            <i style="display: block; font-size: 4em" class="icon ion-ios-briefcase"></i>
          </div>
          <h1 class="title">How was it?</h1>
        </div>
        <div class="business-status">
          <div style="text-align: center" class="business-item">
            <a
              style="display: block;"
              ng-click="submitBusinessStatus('happy')"
              class="button button-icon icon ion-happy-outline">
            </a>
          </div>
          <div style="text-align: center" class="business-item">
            <a
              style="display: block;"
              ng-click="openModal()"
              class="button button-icon icon ion-sad-outline">
            </a>
          </div>
        </div>
  </ion-content>
</ion-view>