<ion-view id="intro">
  <!-- <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      <button class="button button-icon icon ion-fork" ui-sref="base.home.food" nav-direction="{{ foodRoute }}"></button>
      <button class="button button-icon icon ion-ios-briefcase" ui-sref="base.home.business" nav-direction="{{ businessRoute }}"></button>
      <button class="button button-icon icon ion-arrow-graph-up-right" nav-direction="forward" nav-direction="{{ exploreRoute }}"></button>
    </ion-nav-buttons>
  </ion-nav-bar> -->
  <ion-content>
          <ion-list>
            <div style="margin: 0; padding: 0;" class="item item-input-inset">
              <label style="margin: 0; padding: 0; border-radius: 0;" class="item-input-wrapper">
                <input
                  style="padding-left: 10px; margin: 0; border-radius: 0; height: 40px;"
                  type="text"
                  placeholder="What did you eat?"
                  ng-model="foodToSubmit">
              </label>
              <button
                style="padding: 0; height: 40px; width: 15%; margin: 0; border-radius: 0; background-color: #A8ED80; border-color: #A8ED80"
                ng-click="submitFood(foodToSubmit)"
                class="button button-small">
                +
              </button>
            </div>
            <ion-item
              collection-repeat="food in foods | filter:foodToSubmit"
              ng-click="submitFood(food.name)">
              {{food.name}}
            </ion-item>
          </ion-list>
  </ion-content>
</ion-view>
