<ion-view title="Home">
  <ion-nav-bar>
      <ion-nav-buttons side="left">
          <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
      </ion-nav-buttons>
  </ion-nav-bar>

  <ion-tabs class="tabs-icon-top">
      <!-- Food Tab View -->
      <ion-tab title="Food" icon="icon ion-fork" ui-sref="app.home.food">
          <ion-nav-view name="tab-food"></ion-nav-view>
      </ion-tab>


      <!-- Business Tab View -->
      <ion-tab title="Business Time" icon="icon ion-ios-briefcase" ui-sref="app.home.business">
          <ion-nav-view name="tab-business"></ion-nav-view>
      </ion-tab>


      <!-- List Tab View -->
      <ion-tab title="List" icon="icon ion-ios-paper" ui-sref="app.home.list">
          <ion-nav-view name="tab-list"></ion-nav-view>
      </ion-tab>
  </ion-tabs>
</ion-view>
