<ion-view id="login">
  <ion-content style="login-container" class="login-content" scroll="false">
      <div style="height: 100%" class="vertical-center-container">
        <div style="height: 100%" class="vertical-center">
          <div style="height: 100%; background-color: #49C1FF" class="full-height">
            <div style="height: 100%" class="col login-intro" style="padding: 20% 7%">
              <div style="height: 40%; padding-left: 7%; padding-right: 7%" class="row row-bottom">
                <h3 class="text-center">Track your food and your poops to see what food makes your poops not good</h3>
              </div>
              <!-- <div style="height: 50%; text-align: center" class="row row-center">
                <ul class="text-center" style="display: block; text-align: center; margin: 0 auto;">
                  <li><i class="icon ion-heart assertive"></i> Woo</li>
                  <li><i class="icon ion-images"></i> Wow</li>
                  <li><i class="icon ion-star energized"></i> Very nice</li>
                </ul>
              </div> -->
              <div class="loader">
                <!-- <div class="loader-inner ball-pulse">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="loader-inner ball-clip-rotate-multiple">
                  <div></div>
                  <div></div>
                </div> -->
                <div class="loader-inner pacman">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
              <div style="height: 50%" class="row row-center" style="padding: 20%">
                <button class="button button-block button-outline icon-left ion-social-facebook-outline facebook-button" ng-click="loginToFacebook()">Login with Facebook</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
