<ion-view title="" cache-view="false">
  <ion-content class="has-header">
    <ion-list>
        <div class="item item-input-inset" style="padding: 0;">
            <label class="item-input-wrapper" style="border-radius: 0;">
                <input type="text" ng-model="query" placeholder="What did you eat?" style="height: 40px;">
            </label>
            <button ng-click="submitFood(query)" style="padding-right: 15px" class="button button-small button-clear button-positive">
            +
            </button>
        </div>
        <button ng-click="$parent.submitFood(food.name)" class="button button-block" collection-repeat="food in foods | filter:query">
            {{food.name}}
        </button>
    </ion-list>
  </ion-content>
</ion-view>
