.business-title {
	padding-top: 2vh;
	height: 15vh;
	text-align: center;
}

.business-item {
	padding-top: 15vh;
}

.business-status {
	display: block;
	font-size: 6em !important;

	a:before {
		font-size: 6em !important
	}
}