.business-title {
	padding-top: 2vh;
	height: 15vh;
	text-align: center;
}

.business-item {
	padding-top: 15vh;
}

.business-status {
	display: block;
	font-size: 6em !important;

	a:before {
		font-size: 6em !important
	}
}

#bad-business {
	height: 100%;

	ion-header-bar {
		font-size: 2em;
	}

	.list {
		margin-bottom: 0;
		.item {
			height: 50px;

			&.item-divider {
				height: 40px;
			}
		}
	}

	.scroll {
		height: 100%;
	}

	.pls {
		background-color: #49C1FF !important;
		text-align: center;
		height: calc(100% - 260px) !important;
		margin: 0;

		.submit-biz {
			text-align: center;
			display: block;

			h2 {
				color: white;
				font-weight: bold;
			}
		}
	}
}